*{
    color: white;
    background: rgb(30,30,30);
    selection-background-color: rgb(20,20,20);
    selection-color: white;
}
QMainWindow{
    padding: 10px;
    background: black;
}
QToolBar, QStatusBar, QTreeView{
    color: white;
    background: rgb(30,30,30);
}
QTreeView{
    border:0;
}
QToolBar{
    border:0px;
}
QToolBar::handle {
    background: rgb(25,25,25);
}
QMdiArea{
    /*border:1px solid rgb(30,30,30);*/
    border-radius:3px;
}
QTreeWidgetItem:focus { border: 0px }
QToolTip{
    background:rgb(49,50,44);
    border: 0;
}
QMenu{
    border: 1px solid rgb(25,25,25);
    padding: 6px;
}
QScrollArea{
    border: 0;
    background: rgb(39,40,34);
}

QTreeView::branch:has-siblings:!adjoins-item,
QTreeView::branch:has-siblings:adjoins-item,
QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border: 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
border-image: none;
    image: url(images/branch-closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    border-image: none;
    image: url(images/branch-open.png);
}


QScrollBar:vertical, QScrollBar::handle:horizontal{               
    border: 0;
    width:15px;
    margin: 0px 0px 0px 0px;
    background: rgb(39,40,34);
}
QScrollBar:horizontal{               
    border: 0;
    height:15px;
    margin: 0px 0px 0px 0px;
    background: rgb(39,40,34);
}
QScrollBar::handle:vertical, QScrollBar::handle:horizontal{
    background: rgb(69,70,64);
    min-height: 0px;
    border-radius:3px;
}



QTextEdit{
    border: 0;
    border-top: 1px solid rgb(25,25,25);
    background: rgb(39,40,34);
    }

QTabWidget::pane { /* The tab widget frame */
 border: 1px solid rgb(25,25,25);
}

/* Style the tab using the tab sub-control. Note that
 it reads QTabBar _not_ QTabWidget */
 /*
QTabBar::tab {
font-size: 16px;
 background: rgb(49,50,44);
 border:1px solid rgb(25,25,25);
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
 min-width: 8ex;
 max-width: 100px;
 padding: 2px;
}

QTabBar::tab:selected {
 background: rgb(30,30,30);
 border-color: rgb(25,25,25);
 border-bottom-color: rgb(30,30,30);
}

QTabBar::tab:!selected {
 margin-top: 2px;
}

QTabBar::tab:selected {
 margin-left: -4px;
 margin-right: -4px;
}

QTabBar::tab:first:selected {
 margin-left: 0;
}

QTabBar::tab:last:selected {
 margin-right: 0;
}

QTabBar::tab:only-one {
 margin: 0;
}


*/

 QSplitter::handle {
     image: url(images/splitter.png);
 }

 QSplitter::handle:horizontal {
     width: 4px;
 }

 QSplitter::handle:vertical {
     height: 4px;
 }

 QSplitter::handle:pressed {
     image: url(images/splitter_pressed.png);
 }