@font-face {
	font-family: Consolas;
	src: url(fonts/consola.ttf);
	font-weight:400;
}
*{
	font-family: Consolas;
}
body, html{
	margin:0;
	padding:0;
	background: rgb(39,40,34);
}
body{
	height: 100%
}
article{
	height: 100%;
}
.CodeMirror {
	line-height: 1.3; 
	width:100%;
	height: 100%
}
.CodeMirror-linenumbers { 
	padding: 0 8px; 
}
::-webkit-scrollbar {
width: 10px;
height: 10px;
}
::-webkit-scrollbar-track {
background: rgb(39,40,34);
}
::-webkit-scrollbar-thumb {
background: rgba(255,255,255,.2);
border-radius: 5px;
}